# Gradle
.gradle/
build/

# IDEs
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
nbproject/
.nb-gradle/

# Eclipse / Java tooling
bin/
out/

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# local file
modrinth-description.md